<footer>
  <div class="f-info">
    <div class="f-social-links">
      <a
        href="https://www.facebook.com/AirbnbIndia/?brand_redir=324826532457"
        target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/airbnb/?hl=en" target="_blank"> 
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/company/airbnb/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div>&copy; 2024 Airbnb, Inc.</div>
    <div class="f-info-links">
      <a href="/privacy">&middot;&nbsp;&nbsp;Privacy</a>
      <a href="/terms">&middot;&nbsp;&nbsp;Terms</a>
      <a href="/sitemap">&middot;&nbsp;&nbsp;Sitemap</a>
      <a href="/companyDetails">&middot;&nbsp;&nbsp;Company Details</a>
    </div>
  </div>
</footer>
