<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/listing">
            <img src="https://1000logos.net/wp-content/uploads/2023/01/Airbnb-logo-768x432.png" alt="Airbnb Logo" style="width: 110px; height: auto;">
        </a>          
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/listing">Home</a>
                <a class="nav-link" href="/listing">All Listings</a>
                <a class="nav-link" href="/listing/new">Add new Listing</a>
            </div>
        </div> 
    </div>
</nav>
