body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}

/* NavBar */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
footer {
  margin-top: 3rem;
  width: 100%;
  height: 8rem;
  background-color: #ebebeb;
}

.f-info-links a {
  text-decoration: none;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f-info-links,
.f-social-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.f-social-links > a,
.f-info-links > a {
  margin-right: 1rem;
}

.f-social-links > a > i {
  font-size: 1.5rem;
  color: black;
  margin-top: 1rem;
}

/* Cards */
.card {
  border: none !important;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  margin-top: 2rem;
  border-radius: 2rem !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 800 !important;
}

.price {
  margin-top: -1rem !important ;
}

.listing-link {
  text-decoration: none;
  color: inherit;
}

/* Add Button */

.add-btn {
  margin-top: 5px;
  background-color: #fe424d !important;
  color: #fff !important;
}

.add-btn:hover {
  background-color: #fd5e69 !important;
}

.form {
  margin-bottom: 10px;
}

/* Edit Button */
.edit-btn {
  margin-top: 5px;
  background-color: #fe424d !important;
  color: #fff !important;
}

.edit-btn:hover {
  background-color: #fd5e69 !important;
}
